/* Première modal*/

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal h3 {
	font-size: 26px;
}
.modalImg {
	background-color: #FFFFFF;
    padding: 30px;
	margin: auto;
    top: 50%;
    transform: translateY(-50%);
	width: 630px; 
	border-radius: 10px;
	text-align: center;
    position: relative;
}
.modal .modalImg .closeModal {
	color: #aaa;
	font-size: 28px;
    position: absolute;
    right: 30px;
}
.modal .modalImg .closeModal:hover,
.modal .modalImg .closeModal:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
.modal .modalImg .gererImages {
    width: 70%;
    margin: auto;
}
.modal .modalImg .gererImages .galleryModal {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding-top: 40px;
    padding-bottom: 40px;
}
.modal .modalImg .gererImages .galleryModal figure {
    position: relative;
}
.modal .modalImg .gererImages .galleryModal img {
    width: 76px;
    height : 102px; 
    padding-bottom: 20px;
}

.modal .modalImg .gererImages .galleryModal span {
    cursor: pointer;
    position : absolute;
    top: 5px;
    right: 10px;
}
.modal .modalImg .gererImages .galleryModal i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background-color: black;
    color: white;
}

.modal .modalImg .gererImages button {
	cursor: pointer;
	border: none;
    font-size: 14px;
    background-color: #1D6154;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 25px;
}

.modal .modalImg .gererImages hr {
    border: 1px solid #B3B3B3;
    margin-bottom: 20px;
    width: 100%;
}

/* Seconde Modal */

.modalPhoto {
    display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}
.modalPhoto h3 {
    font-size: 26px;
    padding-bottom: 20px;
}

.modalPhoto .modalAddPhoto {
    background-color: #FFFFFF;
    padding: 30px;
	margin: auto;
    top: 50%;
    transform: translateY(-50%);
	width: 630px; 
	border-radius: 10px;
	text-align: center;
    position: relative;
}

.modalPhoto .modalAddPhoto .return {
    color: #aaa;
	font-size: 20px;
    position: absolute;
    left: 30px;
}
.modalPhoto .modalAddPhoto .return:hover,
.modalPhoto .modalAddPhoto .return:focus {
    color: black;
	text-decoration: none;
	cursor: pointer;
}
.modalPhoto .modalAddPhoto .closeModalPhoto {
    color: #aaa;
	font-size: 28px;
    position: absolute;
    right: 30px;
}

.modalPhoto .modalAddPhoto .closeModalPhoto:hover,
.modalPhoto .modalAddPhoto .closeModalPhoto:focus {
    color: black;
	text-decoration: none;
	cursor: pointer;
}
.modalPhoto .modalAddPhoto .addPhoto {
    margin: auto;
    width: 70%;
}

.modalPhoto .modalAddPhoto .addPhoto .previewPhoto {
    background-color: #E8F1F6;
    height: 170px;
    padding: 20px;
}

.modalPhoto .modalAddPhoto .addPhoto .previewPhoto .uploadImg {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.modalPhoto .modalAddPhoto .addPhoto .previewPhoto .uploadImg i {
    color: #CBD6DC;
    font-size: 76px;
}
.modalPhoto .modalAddPhoto .addPhoto .previewPhoto .uploadImg input {
    display: none;
}
.modalPhoto .modalAddPhoto .addPhoto .previewPhoto .uploadImg button {
    cursor: pointer;
    color: #306685;
    font-size: 14px;
    font-family: Work Sans;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 50%;
    align-self: center;
    background-color: #CBD6DC;
    border: none;
    border-radius: 25px;
}
.modalPhoto .modalAddPhoto .addPhoto.previewPhoto .uploadImg span {
    font-size: 10px;
}

.modalPhoto .modalAddPhoto .addPhoto .previewPhoto .divApercu {
    height: 100%;
    position: relative;
}

.modalPhoto .modalAddPhoto .addPhoto .previewPhoto .divApercu img {
    height: 100%;
    object-fit: cover;
}
.modalPhoto .modalAddPhoto .addPhoto .previewPhoto .divApercu .resetImage {
font-size: 20px;
    position: absolute;
    right: -4px;
    top: 152px;
    color: #aaa;
    cursor: pointer;
}    
.modalPhoto .modalAddPhoto .addPhoto form {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.modalPhoto .modalAddPhoto .addPhoto form label{
    padding-top: 20px;
    text-align: left;
}
.modalPhoto .modalAddPhoto .addPhoto form input,
.modalPhoto .modalAddPhoto .addPhoto form select  {
    border: none;
    cursor: pointer;
    height: 50px;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.modalPhoto .modalAddPhoto .addPhoto form .okForAdd {
    width: 50%;
    align-self: center;
	border: none;
    font-size: 14px;
    background-color: #1D6154;
    cursor: pointer;
    color: white;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 25px;
}
.modalPhoto .modalAddPhoto .addPhoto form .buttonNoActif {
    background-color: #A7A7A7;
}
.modalPhoto .modalAddPhoto .addPhoto form hr {
    border: 1px solid #B3B3B3;
    margin-top: 50px;
    width: 100%;
}

